body, html, main {
	padding: 0;
	margin: 0;
}

#buttons {
	width: 40vw;
	height: 3vh;
	display: flex;
	justify-content: space-around;
	padding-top: 2vh;
	padding-left: 2vw;
}

#buttons button {
	width: 4vw;
	height: 1.5vw;
	background-color: white;
	border-radius: 10px;
	border: none;
}

#gagne, #perdu {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

#gagne div, #perdu div {
	position: relative;
	width: 48vw;
	height: 60vh;
	margin: 15vh 0 0 2vw;
	background-color: white;

	border-radius: 10px;
}

#gagne h1, #perdu h1 {
	position: absolute;
	top: 35%;
	left: 40%;
	background-color: white;

	border-radius: 10px;
}

#gagne button, #perdu button {
	position: absolute;
	top: 1vh;
	right: 1vw;
	width: 4vw;
	height: 4vw;
	background-color: lightblue;
	border-radius: 10px;
	border: none;
}

#terrain {
	position: absolute;
	top: 10vh;
	right: 5vw;
	width: 40vw;
	height: 40vw;
	margin: 0 !important;
	margin-top: 18vh;
	display: flex;
	flex-wrap: wrap;
	z-index: -1;
}

.piece {
	width: 2vw;
	height: 2vw;
	border-radius: 50%;
	background-color: yellow;
	margin-left: 1vw;
	margin-top: 1vw;
}

.white {
	background-color: white;
}

.blanc {
	background-color: lightblue;

}

.bleu {
	background-color: #5c98f9;
}

.vert {
	background-color: #00d000;
}

.orange {
	background-color: #e29500;
}

.option {
	position: relative;
	width: 3vw;
	height: 3vw;
	background-color: lightblue;
	margin-right: 2vw;
}

.turn {
	transform: rotate(-90deg);
}

.option img, .caseF img, .case img, .f-header img {
	position: absolute;
	margin-top: 10%;
	margin-left: 10%;
	top: 0;
	left: 0;
	width: 80%;
	height: 80%;
}

.case {
	position: relative;
	width: 4vw;
	height: 4vw;
}

.caseF {
	position: relative;
}

.bordure {
	box-shadow: 0 0 2px 1px black !important;
}

.orange, .vert, .caseF, .f-header, .bleu {
	box-shadow: 0 0 1px black;
}

.tranche {
	padding-top: 0.5vh;
	padding-left: 2vw;
	display: flex;
	flex-direction: row;
	width: 50vw;
	height: 4vw;
}

#action {
	width: 50vw;
	height: 100vh;
	background-color: blue;
}
#options {
	width: 100%;
	height: 19vh;
	background-color: lightblue;
}
#fonctions {
	z-index: 1;
	/*border-top: solid grey 1px;*/
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50vw;
	height: 81vh;
	background-color: lightblue;
}

.fonction {
	display: flex;
	flex-direction: row;
	margin-left: 1vw;
	margin-top: 1vh;
	width: 48vw;
	height: 3vw;
	background-color: white;
}

.f-header h3 {
	margin: 0;
	margin-top: 1.1vw;
	margin-left: 0.7vw;
}

h3 {
	font-size: 1.5vw;
}
button {
	font-size: 1vw;
}

.caseF, h3 {
	width: 3vw;
	height: 3vw;
}
.f-header {
	position: relative;
	width: 3vw;
	height: 3vw;
	background-color: #bcbcbc;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
}

#tranche2 div, #option9 {
	background-color: #bcbcbc;
	border-radius: 10px;
}

.f-option{
	margin: 0;
	padding-top: 1vh;
	padding-left: 0.6vw;
}

#start {
	color: white;
	width: 4vw;
	height: 3vw;
	background-color: #00d000;
	position: absolute;
	top: 2vh;
	right: 5vw;
	border: none;
	border-radius: 10px;
	font-weight: bold;
}

#startBis {
	color: white;
	width: 4vw;
	height: 3vw;
	background-color: #00d000;
	position: absolute;
	top: 2vh;
	right: 5vw;
	border: none;
	border-radius: 10px;
	font-weight: bold;
}

#select {
	color: white;
	width: 4vw;
	height: 3vw;
	background-color: #00d000;
	position: absolute;
	top: 2vh;
	right: 41vw;
	border: none;
	border-radius: 10px;
	font-weight: bold;
}

#reset {
	color: white;
	width: 4vw;
	height: 3vw;
	background-color: #00d000;
	position: absolute;
	top: 2vh;
	right: 15vw;
	border: none;
	border-radius: 10px;
	font-weight: bold;
}

#stop {
	color: white;
	width: 4vw;
	height: 3vw;
	background-color: #00d000;
	position: absolute;
	top: 2vh;
	right: 10vw;
	border: none;
	border-radius: 10px;
	font-weight: bold;
}
